bin
build
generated
log
scripts/redis*
cmake-build-debug/*
cmake-build-debug
sc-kpm/sc-python/services/common/__pycache__/
sc-kpm/sc-python/services/http_api/__pycache__/

tools/builder/src/parser/
*.generated.*

!thirdparty/*/bin/

sc-machine.json
manifest.json
*.user
*.*~

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

